@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@theme {
  --max-width-container: 1920px;

  /* Colors */
  --color-text-primary: #ffffff;
  --color-text-secondary: #a9a9a9;
  --color-text-disabled: #505261;

  --color-color-red: #ec3013;
  --color-color-green: #4ade80;
  --color-color-orange: #e27e04;

  --color-bg-page: #070c1c;
  --color-bg-card: #1e2031;
  --color-bg-raised: #2a2c3d;

  --color-tint-red: rgba(236, 48, 19, 0.1);
  --color-tint-green: rgba(46, 213, 115, 0.15);
  --color-tint-white: rgba(255, 255, 255, 0.1);
  --color-tint-warning: rgba(226, 126, 4, 0.1);

  --color-overlay-scrim: rgba(7, 12, 28, 0.2);
  --color-overlay-border: rgba(255, 255, 255, 0.1);

  /* Font Sizes */
  --text-display: 40px;
  --text-h1: 24px;
  --text-h2: 20px;
  --text-h3: 18px;
  --text-button: 14px;
  --text-overline: 12px;
  --text-label-m: 14px;
  --text-label-s: 12px;
  --text-body-l: 16px;
  --text-body-m: 14px;
  --text-body-s: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #070c1c;
  color: #ffffff;
  font-family: var(--font-archivo), sans-serif;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #161b2e inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}
